<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div class="ion-padding">
    <h2>Para recuperar la contraseña ingrese su correo insitucional</h2>
    <ion-input class="center-content" label="Email" labelPlacement="floating" type="text" [(ngModel)]="userRecModal.institutional_email"></ion-input>
  </div>
  <div>
    <ion-button (click)="userPass(userRecModal)">Recuperar</ion-button>
  </div>
</ion-content>
