<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    
    <div class="login-form buttons ion-padding">

      <!-- No esta logeado -->
      <ion-button *ngIf="!isBtnLogin()" class="center-content" (click)="loginWithGoogle()" color="warning">Iniciar Sesión</ion-button>
      <!-- Ya se encuentra logeado -->
      <div *ngIf="isBtnLogin()">
        <ion-button  class="center-content" (click)="redireccionar()" color="warning">Menú Principal</ion-button>
        <ion-button  class="center-content" (click)="cerrarSesion()" color="warning">Cerrar Sesión</ion-button>
      </div>

    </div>

    <ion-toast
      [isOpen]="errorLogin"
      message="Usuario y/o contraseña incorrecto(s)"
      [duration]="5000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
</ion-content>
