rules_version = '2';

service cloud.firestore {
//   match /databases/{database}/documents {

// 		function validAccount(userEmail){
//     	return userEmail.split('@')[1] == 'duocuc.cl' || userEmail.split('@')[1] == 'profesor.duoc.cl';
//     }

//   	match /{document=**} {
//     	allow read, write: if false;
//     }

//   	match /users {
//     	match /{userId}{
//       	allow read: if request.auth != null && validAccount(request.auth.token.email);
								
//         /// Avoid editing another person's profile
//         allow write, update, delete: if request.auth.uid == userId && validAccount(request.auth.token.email);
// 	    }
// 		}
//   }
	 match /{document=**} {
	 allow read, write: if request.time < timestamp.date(2023, 10, 26);
	 }
}

