ion-toolbar {
    --background: black;
}

ion-content {
    --background: white;
}

.form-pass {
    color: black;
}

ion-back-button {
    color: white;
}

ion-title {
    padding: 0px;
    color: white;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}