<app-header titlePage="{{titlePage}}"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Pagina formulario conductor</h1>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmitForm()">
    <!-- MARCA -->
    <mat-form-field> <!-- appearance="outline" -->
      <mat-label>Marca</mat-label>
      <input type="text" matInput [formControl]="controlManufacturer" [matAutocomplete]="autoMa">
      <mat-autocomplete #autoMa="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let manufacturer of filteredManufacturersOptions | async" [value]="manufacturer.name" (onSelectionChange)="changedManufacturerValue(manufacturer)">
          {{manufacturer.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <!-- MODELO -->
    <mat-form-field *ngIf="isModelsData()"> 
      <mat-label>Modelo</mat-label>
      <input type="text" matInput [formControl]="controlModel" [matAutocomplete]="autoMo" >
      <mat-autocomplete #autoMo="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let model of filteredModelsOptions | async" [value]="model.name" (onSelectionChange)="changedModelValue(model)" >
          {{model.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <!-- AÑO -->
    <mat-form-field *ngIf="isYearsData()" > 
      <mat-label>Año</mat-label>
      <input type="text" matInput [formControl]="controlYear" [matAutocomplete]="autoYe">
      <mat-autocomplete #autoYe="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let year of filteredYearsOptions | async" [value]="year" (onSelectionChange)="changedYearValue(year)">
          {{year}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- COLORES VEHICULO -->
    <mat-form-field *ngIf="isColorData()" > 
      <mat-label>Color Vehiculo</mat-label>
      <input type="text" matInput [matAutocomplete]="autoCo">
      <mat-autocomplete #autoCo="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let color of filteredColorsOptions | async" [value]="color.name" (onSelectionChange)="changedColorValue(color)">
          {{color.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <ion-list>
      <ion-item >
        <ion-input label="Matricula Vehiculo:" maxlength="9"
                  [maskito]="mascaraPatente" [maskitoElement]="maskPredicate" formControlName="patente">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cantidad de asientos:" type="number" placeholder="000" formControlName="asientos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox justify="space-between" formControlName="permisoCirculacion">Permiso de Circulacion:</ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button type="submit" fill="solid">Enviar Solicitud</ion-button>
  </form>

</ion-content>
