<ion-content class="user ion-padding">
  <div class="ion-padding">
    <h1>Bienvenido {{userData?.userInfo?.nombre}}</h1>
  </div>
  <ion-card >
    <ion-list class="ion-padding-bottom">
      <ion-list-header class="header">
        <ion-label class="title">Viajes disponibles</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let travel of travelsActive" class="item">
        <!-- <ion-label>{{ travel.origin }} - {{ travel.destination }}</ion-label> -->
        <!-- <ion-button (click)="viewTravel(travel)">Ver detalles</ion-button> -->
        <ion-button fill="clear" (click)="viewTravel(travel)">{{ travel.destination }}</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>