<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <input type="text" id="autocomplete" class="search-bar">
    <ion-button (click)="calcuRoute()" expand="block" shape="round" size="small" color="success">
      Iniciar ruta
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
</ion-content>
