/* ion-toolbar {
    font-family: cursive;
    --background: transparent;
    color: white;
}

ion-content {
    --background: white;
    padding-left: 5px;
}

ion-back-button {
    color: white;
} */