ion-toolbar {
    --background: black;
}

ion-button {
    --background: black;
    color: white;
}

#map {
    display: block;
    width: 310px;
    height: 300px;
}

ion-button {
    --background: black;
    color: white;
}