<div class="ion-padding">
  <ion-list class="item">
    <ion-list-header><ion-label>Datos Conductor:</ion-label></ion-list-header>
    <ion-item>
      <ion-label>Nombre: {{ travel.driver.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carrera: {{ travel.driver.carreraUniv }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list-header><ion-label>Datos del vehiculo:</ion-label></ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>Modelo: {{ travel.driver.vehiculo?.modelo }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Patente: {{ travel.driver.vehiculo?.patente }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Marca: {{ travel.driver.vehiculo?.marca }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Año vehiculo: {{ travel.driver.vehiculo?.annoVehiculo }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Asientos: {{ travel.driver.vehiculo?.asientos }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list-header><ion-label>Datos del viaje:</ion-label></ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>Origen: {{ travel.origin }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Destino: {{ travel.destination }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Asientos disponibles: {{ travel.availableSeats }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de pago: {{ travel.payType }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Valor: ${{ travel.price | maskito: options }}</ion-label>
    </ion-item>
  </ion-list>
</div>

<ion-button *ngIf="!userData.travelActive && userData.userInfo != travel.driver" (click)="regUserInTravel()" class="center-content">Tomar viaje</ion-button>
