ion-toolbar {
    --background: black;
}

ion-button {
    --background: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5%;
}

#map {
    display: block;
    width: 310px;
    height: 300px;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
}
