<app-header titlePage="{{titlePage}}"> </app-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
    <ion-list class="ion-padding-bottom">
      <ion-list-header>
        <ion-label class="ion-padding-bottom">Datos Personales:</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Nombre: {{userData.userInfo?.nombre}}</ion-label>
      </ion-item>
      <ion-item *ngIf="!element">
        <ion-label>Carrera: {{userData.userInfo?.carreraUniv}}</ion-label>
        <ion-icon name="school"></ion-icon>
      </ion-item>
      <ion-item *ngIf="element">
        <ion-select (ionChange)="schoolSelected($event)" label="Escuela: " placeholder="Seleccione su escuela">
          <ion-select-option [value]="school" *ngFor="let school of schools" > {{ school.escuela }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isEnableCareer()">
        <ion-select (ionChange)="careerSelected($event)" label="Carrera: " placeholder="Seleccione su Carrera">
          <ion-select-option [value]="career" *ngFor="let career of listCareersTmp" > {{ career }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="item">
      <!-- <h1 class="ion-padding">Datos de la cuenta:</h1> -->
      <ion-list-header>
        <ion-label class="ion-padding-bottom">Datos de la cuenta:</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Email: {{userData.email}}</ion-label>
        <ion-icon slot="end" name="mail"></ion-icon>
      </ion-item>
      <ion-item *ngIf="userData.userInfo != undefined && userData.userInfo?.emailVerificado" class="ion-no-margin">
          <ion-label>Estado Email: Verificado</ion-label>
          <ion-icon slot="end" name="checkmark-circle"></ion-icon>
      </ion-item>
      <ion-item *ngIf="userData.userInfo != undefined && !userData.userInfo?.emailVerificado">
        <ion-label>Email Verificado: No Verificado</ion-label>
        <ion-icon slot="end" name="close-circle"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Roles: {{getRoles()}}</ion-label>
      </ion-item>
      <ion-button *ngIf="!isEditing()" expand="block" fill="clear" (click)="changeLabel()">
        <ion-icon slot="start" name="create"></ion-icon>
        Editar Información
      </ion-button>
      <ion-button *ngIf="isEditing()" expand="block" fill="clear" (click)="saveUserInfo()">
        <ion-icon slot="start" name="save"></ion-icon>
        Guardar Información
      </ion-button>
      <ion-button *ngIf="isEditing()" expand="block" fill="clear" (click)="changeLabel()">
        <ion-icon slot="start" name="close-circle"></ion-icon>
        Cancelar
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
