<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>Login User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  <!-- <div class="login"> -->
    <!-- <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">TeLlevo</ion-title>
      </ion-toolbar>
    </ion-header> -->
  
    <div class="login-form ion-padding">
<!--       <ion-item> -->
        <!-- <ion-label position="floating"><ion-icon name="person-circle"></ion-icon> Usuario</ion-label> -->
        <ion-input class="center-content" label="Username" labelPlacement="floating" type="text" [(ngModel)]="userLoginModal.username"></ion-input>
        <!-- <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon> Contraseña</ion-label> -->
        <ion-input class="center-content" label="Password" labelPlacement="floating" type="password" [(ngModel)]="userLoginModal.password"></ion-input>
<!--       </ion-item> -->
    </div>
  
    <div class="buttons ion-paddin">
      <br>
      <ion-button class="success center-content" (click)="userLogin(userLoginModal)">Ingresar</ion-button>
      <br>
      <a [routerLink]="['/recoverPass']" class="center-content">Olvidé mi contraseña</a>
    </div>

    <ion-toast
      [isOpen]="errorLogin"
      message="Usuario o contraseña incorrecto"
      [duration]="5000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
</ion-content>
