ion-toolbar {
    --background: url("/assets/img/channels4_profile.jpg") no-repeat center center / cover;
    height: 300%;
}

ion-content {
    --background: white;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-button, a {
    padding-top: 5%;
}

.login-form {
    padding-top: 30%;
    color: black;
}
