<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
    <div class="login-form ion-padding" >
        <ion-input class="center-content" label="Username" labelPlacement="floating" type="text" [(ngModel)]="userLoginModal.username"></ion-input>
        <ion-input class="center-content" label="Password" labelPlacement="floating" type="password" [(ngModel)]="userLoginModal.password"></ion-input>
    </div>
  
    <div class="buttons ion-paddin">
      <ion-button class="center-content" (click)="userLogin(userLoginModal)" color="warning">Ingresar</ion-button>
      <a [routerLink]="['/recoverPass']" class="center-content">Olvidé mi contraseña</a>
    </div>

    <ion-toast
      [isOpen]="errorLogin"
      message="Usuario y/o contraseña incorrecto(s)"
      [duration]="5000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
</ion-content>
